
@font-face {
    font-family: 'Lato';
    src: url(assets/fonts/Lato-Regular.ttf);
}

*{
    margin: 0 auto;
    transition: all 0.5s;
}
html {
    font-family: 'Lato', Verdana, sans-serif;
    font-size: 10px;
   
}
h2 {
    color: #767E9E;
    font-size: 3.0rem;
}
h4 {
    color: #767E9E;
    font-size: 1.8rem; 
}
p {

    color: #767E9E;
    font-size: 1.8rem;
    line-height: 1.7;
}
a {
    text-decoration: none;
}
body {

    font-size: 1.6rem;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1020px; 
   /* margin: 0 auto;
    padding: 0 20px;
*/
}
 /* -----------------------------Header------------------------------------------*/

 .header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
  }
  .logo {
      margin: 0;
  }
  .logo h1 {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -0.55px;
    color: #fefeff;
    cursor: pointer;
  }
  
  .logo span {
    color: #e56e6a;
    
  }
  /*-------------------!!!!!!-------*/
  .header__burger,
.header__shadow {
    display: none;
}
 /*--------------------!!!!!!!------*/
  .header__navigation {
      margin:0;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 29px 40px 30px 40px;
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  
  .navigation a {
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -0.09px;
  }
  
  .navigation_item {
    position: relative;
    margin-right: 29px;
  }
  
  .navigation .active_item {
    color: #f06c64;
  }
  .navigation_item:last-child {
    margin-right: 0;
  }
  
  .navigation_item a:hover {
    color: #f06c64;
    text-decoration: underline;
  }
  
  .navigation_item::after {
    content: "";
    background-color: #fefeff;
    position: absolute;
    top: 50%;
    right: -16px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
  }
  
  .navigation_item:last-child::after {
    display: none;
  }
/*--------------Slider-------------------------------------------------------------*/
.slider {
    
    background-color: #F06C64;
    border-bottom: 6px solid #EA676B; 
     /*-------------------!!!!!!-------*/
}

.slider-conteiner{
    width: 100%; 
    max-width: 960px;
    height: auto;
}
.slider__arrow {
    position: relative;
    top: 65%;
    height: auto;
    cursor: pointer;
    transition: 0.5s;
}

.slider__arrow--left {
    left: 7.5%;
}

.slider__arrow--right {
    position: relative;
    
    height: auto;
    right: 7.5%;
   
}

.slider__arrow--right:hover {
    transform: scale(1.4);
}

.slider__arrow--left:hover {
    transform: scale(1.4);
}
#slide-1 {
    width: 100%;
    height: auto;
   
}


/*----------------------------Our Services---------------------------------*/

.our__services-main-description {
    max-width: 940px;
    padding: 58px 0 18px 0px;
}
.our__services-add-description {
    max-width: 940px;
    padding: 0px 0px 47px 0px;
}
.our__services {
    width: 100%; /*-------------------!!!!!!-------*/
    background-color: #F2F2F2;
    border-bottom: 6px solid #FFFFFF;
}
.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    margin-bottom: 23px;
   
}
.item {
    display: flex;
    flex-wrap: nowrap;
    height: 109px;
    width: 300px;
    overflow: hidden;
    margin: 0px 0px 17px 0px;
}
.services-name {
    margin-bottom: 5px ;
}
.services-description {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 22px;
}
.item-logo {
    display: table;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    
}
.item-logo1 {
    background-image: url(./img/services-item-1--nocircle.png);
}
.item-logo2 {
    background-image: url(./img/services-item-2--nocircle.png);
}
.item-logo3 {
    background-image: url(./img/services-item-3--nocircle.png);
}
.item-logo4 {
    background-image: url(./img/services-item-4--nocircle.png);
}
.item-logo5 {
    background-image: url(./img/services-item-5--nocircle.png);
}
.item-logo6 {
    background-image: url(./img/services-item-6--nocircle.png);
}

.item-description {
    padding: 0 0 0 20px;
}



/*--------------------------Portfolio----------------------------------------------------------*/
.portfolio {
    background-color: #2D303A;
    border-bottom: 6px solid #323746;   
}
.portfolio-main-description {
    max-width: 940px;
    padding: 59px 0 17px 0px;
}
.portfolio-add-description {
    max-width: 940px;
    padding: 0px 25px 12px 22px;
}
.portfolio__tags {
    display: inline-flex;
    align-items: flex-start;
    justify-content: flex-start;
    list-style: none;
}
.tag {
    font-size: 1.2rem;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2px 6px;
    margin: 0px 10px 8px 0;
    color: #767E9E;
    cursor: pointer;
   
    
}
.tag:hover {
    transform: scale(1.04);
    transition: 0.05s;
}

.layout-4-column-grid {
   /* width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 61vw;
    max-height: 650px;
    overflow: hidden;
   */
    margin: 11px 40px 68px 38px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(auto-fill, minmax(212px, 1fr));
    grid-gap: 20px;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;*/
    
}
.image {
    padding: 0px;
    width: 220px;
    height: 187px;
    margin: 0px;
}
/*----------------------Footer-----------------------------------------------------------------*/
footer {
    background-color: #2D303A; 
}  
.container-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social-networks__item {
    display: inline-block;  
    width: 32px;
    height: 32px;
    border: 1px solid #666D89;
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;   
}
.social-networks__item--icon--facebook {
    background-image: url(./img/ico-facebook--nocircle.png);
    
}
.social-networks__item--icon--google {
    background-image: url(./img/ico-google-plus--nocircle.png);
     
}
.social-networks__item--icon--twitter {
    background-image: url(./img/ico-twitter--nocircle.png);
     
}
.social-networks__item--icon--linkedin {
    background-image: url(./img/ico-linkedin--nocircle.png);
     
}
.copyright {
    margin:30px 0 29px 39px;
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
    color: #666D89;
}
.social-networks {
    margin:22px 42px 22px 0;
}
/* mediA------------------------------------------------------------*/
/*@media screen and (max-width: 979px) {
    .layout-4-column{
        max-height: 840px;
        margin-bottom: 19px;  
}
@media screen and (max-width: 768px) {
    
.portfolio-main-description {
    padding:60px 0 17px 41px;
}
.portfolio-add-description {
    padding:0px 40px 12px 40px;
}

.tag{
    margin: 0px 10px 29px 0;
    
}
.layout-4-column-grid{
    margin: 9px 17px 68px 37px;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}
.image{
   
    width: 218px;
   
}
    @media (max-width: 1020px) and (min-width: 768px){

    

    .img_portfolio img {
    width: 100%;
    height: 100%;
    }
}
@media (max-width: 736px) {
    .layout-4-column{
        max-width: px;
        max-height: 840px;
        margin-bottom: 19px;
    }
}
/*

@media (max-width: 768px) {
    .header__burger {
        display: block;
    }

    .navigation {
        display: none;
    }

    .header__wrapper {
        justify-content: center;
    }

    .header__burger,
    .header__burger:before,
    .header__burger:after {
        width: 30px;
        height: 4px;
        background-color: #ffffff;
        position: absolute;
        left: 30px;
    }

    .header__burger:before {
        content: '';
        top: -10px;
        left: 0px;
    }

    .header__burger:after {
        content: '';
        top: 10px;
        left: 0px;
    }

    .header__burger--active {
        transform: rotate(90deg);
        transition: 0.2s;
        z-index: 3;
        position: fixed;
    }

    .header__burger--not-active {
        transform: rotate(0deg);
        transition: 0.2s;
    }

    .header__logo--active {
        position: fixed;
        left: 30px;
        z-index: 3;
    }

    .navigation--mobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 110%;
        width: 278px;
        left: 0;
        top: -10%;
        font-size: 20px;
        z-index: 2;
        background-color: #2D303A;
        list-style-type: none;
    }

    .navigation__item {
        padding: 20px 0;
    }

    .navigation--mobile:after {
        content: '';
        position: fixed;
        left: 278px;
        width: 100%;
        height: 110%;
        background-color: #2D303A;
        opacity: 0.6;
    }

    .services__items {
        width: 300px;
    }

    .portfolio__pictures {
        height: 110vw;
        max-height: 1000px;
    }

    .portfolio__picture {
        max-width: 240px;
        width: 31.7%;
    }
}

@media (max-width: 767px) {
    .copyright {
        display: none;
    }

    .social {
        margin: 0 auto
    }
}

@media (max-width:631px) {
    .services__more-details {
        flex-direction: column;
        align-items: center;
    }

    .services__circle {
        margin-left: 0;
    }
}

@media (max-height:375px) {
    .navigation--mobile {
        justify-content: center;
    }

    .navigation__item {
        padding-bottom: 0px;
    }
}

@media (max-width:375px) {
    .portfolio__pictures {
        height: 590px;
    }

    .portfolio__picture {
        min-width: 160px;
    }
}*/
